.contact_body{
    width: 100%;
    height: 100vh;
    min-height: max-content;
}

.contact_hero{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image:url("/src//assets/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.contact_hero_content{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact_hero_content h2{
    color: #FFF;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
}
.contact_hero_content p{
    color: #FFF;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.message_board{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board_wrapper{
    width: 82%;
    height: 85%;
}
.board_header{
    width: 100%;
    height: 15%;
}
.board_header h4{
    color:  #0C8F00;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.board_headerh2{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px; 
}

.board_content{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}
.board_input{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.boardinput_header{
    width: 90%;
}
.boardinput_header h4{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.board_text{
    width: 90%;
    height: 10%;
    border-radius: 8px;
    outline: none;
    border: 1px solid #333;
    padding: 10px;
}
.board_textarea_container{
    width: 90%;
    height: 35%;
    
}
.board_textarea{
    width: 100%;
    height: 85%;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #333;
}
.board_terms{
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.board_terms p{
    color:#777;
    font-family: "Poppins",sans-serif;
    font-size: 13.854px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.781px; /* 150% */
}
.board_terms p span{
    color:#0C8F00;
    font-family: Poppins;
    font-size: 13.854px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.781px;
}
.board_checkbox{
    width: 15px;
    height: 15px;
    border-radius: 8px;
    accent-color: #0c8f00;
}
.board_button{
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #0C8F00;
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.643px; /* 150% */
}

.board_contact{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.contact_card{
    width: 100%;
    height: 30%;
    border-radius: 20px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_card{
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.board_email{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #0C8F00;
    background-color: #9FFF96;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board_icon{
    font-size: 30px;
}
.inner_card h4{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}
.inner_card p{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.contact_card1{
    width: 100%;
    height: 35%;
    border: 1px solid #333;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq_container{
    width: 100%;
    height: 100vh;
    min-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq_wrapper{
    width: 82%;
    height: 85%;
    min-height: max-content;
    margin-bottom: 30px;
}
.faq_header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faq_header h4{
    color: var(--Colors-New-Primary-600, #0C8F00);
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.faq_header h2{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px; /* 150% */
}
.question_container{
    width: 100%;
    height: 80%;
    min-height: max-content;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.question_box{
    width: 100%;
    height: 100px;
    min-height: max-content;
    border: 1px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;


}
.question_box_wrapper{
    width: 95%;
    height: 80%;
    min-height: max-content;
}
.question_card{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question_card h4{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}
.answer_card{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:  1px solid #A4A4A4;
    transition: all 0.5s ease-in-out;
}
.arrow_down{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow_down {
    transition: transform 0.3s ease;
  }
  
  .arrow_down.rotate {
    transform: rotate(180deg);
  }
  .answer_card p{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  
/* @media screen and (min-width: 250px) and (max-width: 320px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
       
        width: 100%;
    }
    .contact_hero_content h2{
        font-size: 35px;
    }
    .contact_hero_content p {
        font-size: 8.5px;
    }

    .message_board{
      
        height: max-content;
    }

    .board_wrapper{
     
        height: auto;
    }

    .board_header{
   
        padding: 10px;
    }
    .board_header h2{
        font-size: 10px;
    }
    .board_header h4{
        font-size: 12px;
    }

    .board_content{
      
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
       
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
    
        display: flex;
        align-items: end;
    }
    .board_header h4{
        font-size: 12px;
    }

    .board_text{
       
        height: 7vh;
        font-size: 10px;
    }

    .board_button{
    
        height: 10%;
        border-radius: 6px;
        font-size: 16px;
    }



    .board_contact{
        width: 100%;
       
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card p{
        font-size: 10px;
    }
    .board_contact h4{
        font-size: 12px;
    }

    .board_icon{
        font-size: 20px;
    }

    .faq_header{
      
        height: 15%;
        padding-top: 20px;
    }
    .faq_header h2 {
        font-size: 9px;
    }
    .faq_header h4 {
        font-size: 11px;
    }

    .question_box{

        height: 5vh;
    }

    .question_card h4{
        font-size: 10px;
    }

    .answer_card p{
        font-size: 9px;
    }
}


@media screen and (min-width: 321px) and (max-width: 475px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
        width: 100%;
    }
    .contact_hero_content h2{
        font-size: 38px;
    }
    .contact_hero_content p {
        font-size: 10px;
    }

    .message_board{
      
        height: max-content;
    }

    .board_wrapper{
      
        height: auto;
    }

    .board_header{
        
        padding: 10px;
    }
    .board_header h2{
        font-size: 12px;
    }
    .board_header h4{
        font-size: 14px;
    }

    .board_content{
  
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
    
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
  
        display: flex;
        align-items: end;
    }
    .boardinput_header h4{
        font-size: 14px;
    }

    .board_text{

        height: 7vh;
        font-size: 10px;
    }

    .board_button{
 
        height: 10%;
        border-radius: 6px;
        font-size: 16px;
    }



    .board_contact{
        width: 100%;
     
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card h4{
        font-size: 12px;
    }

    .inner_card p{
        font-size: 10px;
    }
    .board_icon{
        font-size: 20px;
    }

    .faq_header{
     
        height: 15%;
        padding-top: 20px;
    }
    .faq_header h2 {
        font-size: 9px;
    }
    .faq_header h4 {
        font-size: 11px;
    }

    .question_box{
        
        height: 5vh;
    }

    .question_card h4{
      
        font-size: 14px;
    }

    .answer_card p{
     
        font-size: 11px;
    }
}


@media screen and (min-width: 476px) and (max-width: 620px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
     
        width: 100%;

        & h2{
            font-size: 42px;
        }

        & p {
            font-size: 12px;
        }
    }

    .message_board{
   
        height: max-content;
    }

    .board_wrapper{
      
        height: auto;
    }

    .board_header{
      
        padding: 10px;

        & h2{
            font-size: 14px;
        }

        & h4{
            font-size: 16px;
        }
    }

    .board_content{
      
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
     
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
       
        display: flex;
        align-items: end;

        & h4 {
            font-size: 20px;
        }
    }

    .board_text{
    
        height: 7vh;
        font-size: 13px;
    }

    .board_button{
      
        height: 10%;
        border-radius: 6px;
        font-size: 18px;
    }



    .board_contact{
        width: 100%;
 
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card{

        & h4{
            font-size: 14px;
        }

        & p{
            font-size: 12px;
        }
    }

    .board_icon{
        font-size: 20px;
    }

    .faq_header{
  
        height: 15%;
        padding-top: 20px;

        & h2 {
            font-size: 12px;
        }

        & h4 {
            font-size: 13px;
        }
    }

    .question_box{
     
        height: 5vh;
    }

    .question_card{
    

        & h4 {
            font-size: 16px;
        }
    }

    .answer_card{
     
       
        & p {
            font-size: 14px;
        }
    }
}


@media screen and (min-width: 621px) and (max-width: 1021px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
        width: 100%;

        & h2{
            font-size: 45px;
        }

        & p {
            font-size: 14px;
        }
    }

    .message_board{
        height: max-content;
    }

    .board_wrapper{
        height: auto;
    }

    .board_header{
        padding: 10px;

        & h2{
            font-size: 16px;
        }

        & h4{
            font-size: 18px;
        }
    }

    .board_content{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
        display: flex;
        align-items: end;

        & h4 {
            font-size: 22px;
        }
    }

    .board_text{
        height: 7vh;
        font-size: 14px;
    }

    .board_button{
        height: 10%;
        border-radius: 6px;
        font-size: 20px;
    }



    .board_contact{
        width: 100%;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card{
        

        & h4{
            font-size: 14px;
        }

        & p{
            font-size: 12px;
        }
    }

    .board_icon{
        font-size: 20px;
    }

    .faq_header{
    
        height: 15%;
        padding-top: 20px;

        & h2 {
            font-size: 14px;
        }

        & h4 {
            font-size: 15px;
        }
    }

    .question_box{
        height: 5vh;
    }

    .question_card{

        & h4 {
            font-size: 18px;
        }
    }

    .answer_card{
       
        & p {
            font-size: 16px;
        }
    }
} */




@media (max-width: 480px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
        width: 100%;
    }
    .contact_hero_content h2{
        font-size: 38px;
    }
    .contact_hero_content p {
        font-size: 10px;
    }

    .message_board{
        /* background-color: red; */
        height: max-content;
    }

    .board_wrapper{
        /* background-color: blue; */
        height: auto;
    }

    .board_header{
        /* background-color: yellow; */
        padding: 10px;
    }
    .board_header h2{
        font-size: 12px;
    }
    .board_header h4{
        font-size: 14px;
    }

    .board_content{
        /* background-color: magenta; */
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
        /* background-color: yellow; */
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
        /* background-color: red; */
        display: flex;
        align-items: end;
    }
    .boardinput_header h4{
        font-size: 14px;
    }

    .board_text{
        /* background-color: magenta; */
        height: 7vh;
        font-size: 10px;
    }

    .board_button{
        /* background-color: red; */
        height: 10%;
        border-radius: 6px;
        font-size: 16px;
    }



    .board_contact{
        width: 100%;
        /* background-color: red; */
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card h4{
        font-size: 12px;
    }

    .inner_card p{
        font-size: 10px;
    }
    .board_icon{
        font-size: 20px;
    }

    .faq_header{
        /* background-color: yellow; */
        height: 15%;
        padding-top: 20px;
    }
    .faq_header h2 {
        font-size: 9px;
    }
    .faq_header h4 {
        font-size: 11px;
    }

    .question_box{
        /* background-color: green; */
        height: 5vh;
    }

    .question_card h4{
        /* background-color: magenta; */
        font-size: 14px;
    }

    .answer_card p{
        /* background-color: green; */
        font-size: 11px;
    }
}


@media (max-width: 840px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
        width: 100%;
    }
    .contact_hero_content h2{
        font-size: 38px;
    }
    .contact_hero_content p {
        font-size: 10px;
    }

    .message_board{
        /* background-color: red; */
        height: max-content;
    }

    .board_wrapper{
        /* background-color: blue; */
        height: auto;
    }

    .board_header{
        /* background-color: yellow; */
        padding: 10px;
    }
    .board_header h2{
        font-size: 12px;
    }
    .board_header h4{
        font-size: 14px;
    }

    .board_content{
        /* background-color: magenta; */
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
        /* background-color: yellow; */
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
        /* background-color: red; */
        display: flex;
        align-items: end;
    }
    .boardinput_header h4{
        font-size: 14px;
    }

    .board_text{
        /* background-color: magenta; */
        height: 7vh;
        font-size: 10px;
    }

    .board_button{
        /* background-color: red; */
        height: 10%;
        border-radius: 6px;
        font-size: 16px;
    }



    .board_contact{
        width: 100%;
        /* background-color: red; */
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card h4{
        font-size: 12px;
    }

    .inner_card p{
        font-size: 10px;
    }
    .board_icon{
        font-size: 20px;
    }

    .faq_header{
        /* background-color: yellow; */
        height: 15%;
        padding-top: 20px;
    }
    .faq_header h2 {
        font-size: 9px;
    }
    .faq_header h4 {
        font-size: 11px;
    }

    .question_box{
        /* background-color: green; */
        height: 5vh;
    }

    .question_card h4{
        /* background-color: magenta; */
        font-size: 14px;
    }

    .answer_card p{
        /* background-color: green; */
        font-size: 11px;
    }
}

@media (max-width: 840px) {
    .contact_hero{
        width: 100%;
    }

    .contact_hero_content{
        width: 100%;
    }
    .contact_hero_content h2{
        font-size: 38px;
    }
    .contact_hero_content p {
        font-size: 10px;
    }

    .message_board{
        /* background-color: red; */
        height: max-content;
    }

    .board_wrapper{
        /* background-color: blue; */
        height: auto;
    }

    .board_header{
        /* background-color: yellow; */
        padding: 10px;
    }
    .board_header h2{
        font-size: 12px;
    }
    .board_header h4{
        font-size: 14px;
    }

    .board_content{
        /* background-color: magenta; */
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .board_input{
        /* background-color: yellow; */
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 7px;
    }

    .boardinput_header{
        /* background-color: red; */
        display: flex;
        align-items: end;
    }
    .boardinput_header h4{
        font-size: 14px;
    }

    .board_text{
        /* background-color: magenta; */
        height: 7vh;
        font-size: 10px;
    }

    .board_button{
        /* background-color: red; */
        height: 10%;
        border-radius: 6px;
        font-size: 16px;
    }



    .board_contact{
        width: 100%;
        /* background-color: red; */
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inner_card h4{
        font-size: 12px;
    }

    .inner_card p{
        font-size: 10px;
    }
    .board_icon{
        font-size: 20px;
    }

    .faq_header{
        /* background-color: yellow; */
        height: 15%;
        padding-top: 20px;
    }
    .faq_header h2 {
        font-size: 9px;
    }
    .faq_header h4 {
        font-size: 11px;
    }

    .question_box{
        /* background-color: green; */
        height: 5vh;
    }

    .question_card h4{
        /* background-color: magenta; */
        font-size: 14px;
    }

    .answer_card p{
        /* background-color: green; */
        font-size: 11px;
    }
    }
