.contact_body {
    width: 100%;
    height: 100vh;
    min-height: max-content;
}

.contact_hero {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("/src//assets/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_hero_content {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact_hero_content h2 {
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 75px;
}

.contact_hero_content p {
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
}

.message_board {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_wrapper {
    width: 82%;
    height: 85%;
}

.board_header {
    width: 100%;
    height: 15%;
}

.board_header h4 {
    color: #0C8F00;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.board_header h2 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
}

.board_content {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}

.board_input {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.board_input h4 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.board_text {
    width: 90%;
    height: 10%;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 10px;
}

.board_button {
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #0C8F00;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

/* Additional Components */
.faq_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 320px) {
    .contact_hero {
        height: 50%;
    }

    .contact_hero_content {
        width: 100%;
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 10px;
        }
    }

    .message_board {
        height: max-content;
    }

    .board_wrapper {
        height: auto;
    }

    .board_header {
        padding: 10px;
        h2 {
            font-size: 12px;
        }
        h4 {
            font-size: 14px;
        }
    }

    .board_content {
        display: flex;
        flex-direction: column;
    }

    .board_input {
        width: 100%;
        border-radius: 7px;
        padding: 10px;
    }

    .board_button {
        height: 40px;
        font-size: 14px;
    }

    .faq_header h2 {
        font-size: 12px;
    }
}

@media screen and (min-width: 321px) and (max-width: 475px) {
    .contact_hero_content {
        h2 {
            font-size: 35px;
        }
        p {
            font-size: 12px;
        }
    }

    .board_header {
        h2 {
            font-size: 14px;
        }
    }

    .board_button {
        font-size: 16px;
    }
}

@media screen and (min-width: 476px) and (max-width: 620px) {
    .contact_hero_content {
        h2 {
            font-size: 40px;
        }
        p {
            font-size: 14px;
        }
    }

    .board_header h2 {
        font-size: 16px;
    }

    .board_button {
        font-size: 18px;
    }
}

@media screen and (min-width: 621px) and (max-width: 1021px) {
    .contact_hero_content {
        h2 {
            font-size: 45px;
        }
        p {
            font-size: 15px;
        }
    }

    .board_header h2 {
        font-size: 18px;
    }

    .board_button {
        font-size: 20px;
    }
}
