.dashboardHeader_body{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
.dashboard_header_wrapper{
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_left{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_left h4{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}
.header_left p{
    color: var(--Colors-Neutral-600, #8E8E8E);
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}
.header_right{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.header_right_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #333;
}
.header_right_txt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_right_txt h4{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.header_right_txt p{
    color: var(--Colors-Neutral-500, #A4A4A4);
    font-family: "Poppins",sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; 
}
.dashboard_logo{
    display: none;
}
.dash_icon{
    display: none;
}
.dashboard_header_modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.7s ease;
  }
  
  .dashboardheader_modal_wrapper {
    width: 70%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    background-color: #07232F;
    animation: slideInFromRight 0.4s ease;
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
 
  
  
.d_modal_header{
    width: 100%;
    height: 12%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d_modal_img{
    width: 100px;
    height: 40px;
}
 .d_modal_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 .cancel_icon{
    font-size: 30px;
    color: white;
    cursor: pointer;
 }
 .d_modal_content{
    width: 100%;
    height: 65%;
    /* background-color: red; */
 }
 .modal_card{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
 }
.d_sidebar_icon{
    font-size: 25px;
    
    color: white;
}
.modal_card h4{
    color: #FFF;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    display: block;
}
.modal_card:hover{
    background-color: #9FFF96;
    color: black;
    cursor: pointer;

    & .d_sidebar_icon{
        color: black;
    }
    & h4{
        color: black;
    }
}
.modal_footer{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
.slogout_modal_overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
    top: 0;
    left: 0;
  }
.slogout_modal_content {
    background-color: white;
    width: 70%;
    height: 20%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .slogout_modal_content h2{
    color: var(--Colors-Secondary-500, #07232F);
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 19.799px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.699px;
  }
  .slogout_modal_content h4{
    color: var(--Colors-Neutral-500, #A4A4A4);
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
  }
  .slogout_modal_actions{
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .smodal_cta{
    width: 80px;
    height: 30px;
    border: 1.5px solid #333;
    border-radius: 8px;
    color: #07232F;
    cursor: pointer;
  }
  .smodal_accept{
    width: 80px;
    height: 30px;
    border:none;
    border-radius: 8px;
    color: white;
    background-color: #07232F;
    cursor: pointer;
  }
@media (max-width: 480px){
    .dashboard_header_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_left{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .header_left p{
        display: none;
    }
    .header_left h4{
        display: none;
    }
    .dashboard_logo{
        display: block;
        width: 150px;
        height: 30px;
    }
    .dashboard_logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .header_right_img,
    .header_right_txt{
        display: none;
    }
    .dash_icon{
        font-size: 35px;
        color: var(--Colors-Neutral-1000, #333);
        cursor: pointer;
        display: block;
    }
}