.email_verify_body{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verify_card{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.verify_icon{
    color: #0C8F00;
    font-size: 50px;
}
.verify_card h2{
    color: var(--Colors-Secondary-500, #07232F);
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.699px; /* 150% */
}
.verify_card h4{
    color: var(--Colors-Neutral-500, #A4A4A4);
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.849px; 
}

.verify_btn{
    width: 85px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #0C8F00;
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
@media (max-width: 480px){
    .email_verify_body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        align-items: center;
    }
    .verify_card{
        width: 85%;
        padding: 0;
    }
}