.forgot_body{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot_card{
    width: 45%;
    height: 55%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.email_icon_holder{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #9FFF96;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email_icon{
    color: #0C8F00;
    font-size: 30px;
}
.forgot_card h2{
    color: var(--Colors-Secondary-500, #07232F);
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 19.799px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.699px;
}
.forgot_card h4{
    color: var(--Colors-Neutral-500, #A4A4A4);
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.849px;
}
.forgot_form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* background-color: red; */
}
.error_message{
    font-size: 12px;
    color: red;
}
.success_message{
    font-size: 12px;
}
.plogin_input.error {
    border: 1.5px solid #e74c3c;
    animation: shake 0.3s 2;
  }
  @keyframes shake {
    25% {
        translate:  6px 0;
    }
    50% {
       translate:  -6px 0
    }
    75% {
       translate:  6px 0
    }
  }

.resend_card{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resend_card h4{
    color: var(--Colors-Neutral-800, #606060);
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.resend_card h4 span{
    color: var(--Colors-New-Primary-600, #0C8F00);
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16.276px;
    cursor: pointer;
}
.reset_btn{
    width: 130px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #0C8F00;
    color: #FFF;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}