.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    width: 450px;
    position: relative;
    font-family: 'Poppins';
  }
  
  .modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-close svg {
    width: 24px;
    height: 24px;
    fill: #000000; 
    transition: fill 0.3s ease;
  }
  
  .modal-close:hover svg {
    fill: #0C8F00;
  }
  
  
  .modal-title1 {
    color: #0C8F00;
    font-size: 28px;
    font-family: 'poppins';
    font-weight: 700;
    line-height: 42px;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal-section {
    margin-bottom: 20px;
    color: var(--Colors-Neutral-1000, #333);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    
  }

  .modal-section p strong {
    color: var(--Colors-Neutral-1000, #333);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; 
  
  }

  .modal-section ul li {
    color: var(--Colors-Neutral-600, #8E8E8E);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
  }
  
  .modal-upgrade-btn {
    background-color: #0C8F00;
    color: #fff;
    padding: 10px 24px;        
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: var(--Radius-4, 8px);
    cursor: pointer;
    width: fit-content;        
    align-self: flex-start;    
    margin-right: 30px;
    margin-top: 20px;            
    transition: background-color 0.3s ease;
  }
  
  .modal-upgrade-btn:hover {
    background-color: #087e24; 
  }
  