.scoutdiscovery {
    width: 100%;
    height: 90vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    /* padding-top: 30px; */
    padding: 15px;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


.scoutdiscovery::-webkit-scrollbar {
  display: none;
}
.scoutdiscoveryform {
    width: 100%;
    height: 30%;
   padding: 10px;
    background-color: #FFFFFF;
    border-radius: 16px;
       
}
.input-wrapper {
    position: relative;
    width: 95%;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .selectoption {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 35px; 
    border-radius: 8px;
    /* background-color: red; */
    border: 1px solid var(--Colors-Neutral-500, #A4A4A4);
  }
  
  .dropdownicon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .filterbuttons {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin: 10px  ;
    gap: 10px;
  }
  
  .clear_btn, .apply_btn {
    padding: 8px 16px;
    border: none;
    border-radius: var(--Radius-4, 8px);
    font-size: 14px;
    cursor: pointer;
  }
  
  .clear_btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
  }
  
  .apply_btn {
    background-color:  #0C8F00;
    color: #FFFFFF;
   
  }
  .apply_btn:hover {
    background-color: #075400;
  }
  .clear_btn:hover{
      background-color: #e5e0e03a;
  }
 
.player_discoverylist {
    width: 100%;
    height: 550px;
    /* background-color:  #c31e1e; */
    display: flex;
    padding: 5px;
    /* gap: 3%; */
    margin-top: 10px;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 20%;
    background-color: #ffffff;
    /* border: 1px solid #A4A4A4; */
    border-radius: 8px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 

  }

 

  .dropdown-menu::-webkit-scrollbar {
    display: none; 
  }
  
  
  .dropdown-menu li {
    padding: 7px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'poppins';
  }
  
  .dropdown-menu li:hover {
    background-color: #4CAF50;
    color: #FFF;
  }

  .discoveryList-div{
    width: 100%;
    height: 100%;
    /* background-color: magenta; */
    overflow-y: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .player-card {
    width: 49%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
  }
  
  .player-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .player-details {
    flex: 1;
  }
  
  .player-details h4 {
    margin: 0;
    color: var(--Colors-Neutral-1000, #333);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    font-weight: bold;
  }
  
  .player-details p {
    margin: 2px 0;
    color: var(--Colors-Neutral-500, #A4A4A4);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
  }

  .player-details p strong {
    color: var(--Colors-Secondary-500, #07232F);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  
  .player-rating {
    font-size: 30px;
    color: #BBBBBB;
    cursor: pointer;
  }
  
  .star {
    margin-left: 2px;

  }


.loadingPage{
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

 .loading-cycle{
  width: 25%;
  height: 50%;
  /* background-color: white; */
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  
 }

 @keyframes rollIn {
  from {
      transform: translatex(100%)
     rotate(360deg);
      opacity: 0;
  }
  to {
      transform: translateX(0)
      rotate(0deg);
      opacity: 1;
  }
}

@keyframes rotateInfinite{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.LogoCycle2{
  animation: rollIn 1s ease-in-out forwards, rotateInfinite 1.5s linear infinite;
}

.LogoCycle2{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.favicondiv{
  width: 25%;
  height: 55%;
  /* border: 3px solid black; */
  background-image: url("../assets/favicon.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  position: absolute;
}


   @media screen and (min-width: 768px) {
    .scoutdiscovery {
      padding: 20px 40px;
    }
  
    .player_discoverylist {
      flex-direction: row;
      gap: 3%;
    }
  
    .discoveryList-div {
      width: 100%;
    }
     
    .loadingPage{
      width: 100%;
    }

    .loading-cycle{
      width: 40%;
      height: 40%;
      /* background-color: red; */
    }

    .favicondiv{
      width: 100%;
      /* height: ; */
      /* border: 2px solid red; */
    }
  
  }
  
  @media screen and (max-width: 767px) {
    .player_discoverylist {
      flex-direction: column;
      gap: 16px;
    }
  
    .discoveryList-div {
      width: 100%;
    }
  
    .player-card {
      flex-direction: row;
      align-items: center;
    }
  
    .player-img {
      width: 50px;
      height: 50px;
    }
  
    .player-details h4 {
      font-size: 14px;
    }
  
    .player-rating {
      font-size: 14px;
    }
  
    .selectoption {
      font-size: 14px;
    }
  
    .clear_btn, .apply_btn {
      font-size: 13px;
      padding: 3px 15px;
    }
    .loadingPage{
      width: 100%;
    }

    .loading-cycle{
      width: 70%;
      height: 40%;
      /* background-color: red; */
    }

    .favicondiv{
      width: 100%;
      /* border: 2px solid red; */
    }
  }
  
  
@media screen and (max-width: 320px) {
    .scoutdiscovery {
      padding: 10px;
      height: auto;
    }
  
    .scoutdiscoveryform {
      padding: 10px;
      border-radius: 12px;
    }
  
    .input-wrapper {
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
    }
  
    .selectoption {
      height: 40px;
      font-size: 14px;
    }
  
    .filterbuttons {
      flex-direction: column;
      width: 100%;
      gap: 10px;
      margin-top: 10px;
      align-items: stretch;
    }
  
    .clear_btn,
    .apply_btn {
      width: 100%;
      padding: 12px;
      font-size: 14px;
    }
  
    .dropdown-menu {
      width: 100%;
    }
  
    .player_discoverylist {
      flex-direction: column;
      gap: 10px;
      height: auto;
      padding: 0;
    }
  
    .discoveryList-div {
      width: 100%;
      height: auto;
    }
  
    .player-card {
      width: 100%;
      padding: 10px;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  
    .player-img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
    }
  
    .player-details h4 {
      font-size: 14px;
    }
  
    .player-details p {
      font-size: 12px;
    }
  
    .player-rating {
      font-size: 22px;
    }
  
    .star {
      margin-left: 2px;
    }

    .loadingPage{
      width: 100%;
    }

    .loading-cycle{
      width: 70%;
      height: 40%;
      /* background-color: red; */
    } 

    .favicondiv{
      width: 100%;
      /* border: 2px solid red; */
    }
  }


  @media screen and (max-width: 768px) {
    .scoutdiscovery {
      padding: 10px;
      height: auto;
    }
  
    .scoutdiscoveryform {
      padding: 10px;
      border-radius: 12px;
    }
  
    .input-wrapper {
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
    }
  
    .selectoption {
      height: 40px;
      font-size: 14px;
    }
  
    .filterbuttons {
      flex-direction: column;
      width: 100%;
      gap: 10px;
      margin-top: 10px;
      align-items: stretch;
    }
  
    .clear_btn,
    .apply_btn {
      width: 100%;
      padding: 12px;
      font-size: 14px;
    }
  
    .dropdown-menu {
      width: 100%;
    }
  
    .player_discoverylist {
      flex-direction: column;
      gap: 10px;
      height: auto;
      padding: 0;
    }
  
    .discoveryList-div {
      width: 100%;
      height: auto;
    }
  
    .player-card {
      width: 100%;
      /* display: flex;
      justify-content: ; */
      padding: 10px;
      flex-direction: row;
      align-items: center;
      /* gap: 10px; */
    }
  
    .player-img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
    }
  
    .player-details h4 {
      font-size: 14px;
    }
  
    .player-details p {
      
      /* border: 4px solid red; */
      font-size: 12px;
    }
  
    .player-rating {
      font-size: 22px;
    }
  
    .star {
      margin-left: 2px;
    }

    .loadingPage{
      width: 100%;
    }

    .loading-cycle{
      width: 70%;
      height: 40%;
      /* background-color: red; */
    } 

    .favicondiv{
      width: 100%;
      /* border: 2px solid red; */
    }
  }