.popup-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
    backdrop-filter: blur(2px); 
}
.pop-up-content{
    width: 65%;
    height: 65%;
    background-color: white;
    border-radius: 20px;
}
.content_header{
    width: 100%;
    height: 10%;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vcancel_icon{
    font-size: 25px;
    cursor: pointer;
}

.uploadvideo_body{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
}
.upload_icon{
    font-size: 80px;
}
.uploadvideo_body h4{
    color: var(--Colors-Neutral-1000, #333);
    font-family: "Poppins",sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; 
}
.uploadvideo_body p{
    color: var(--Colors-Neutral-700, #777);
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.uploadvideo_body video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vid_cta{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #0C8F00;
}
.upload_footer{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_cta{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #0C8F00;
}