/* Base Layout */
.profile_tracker_body {
    width: 100%;
    background-color: #DFB400;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .profile_tracker_wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tracker_text {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 70%;
  }
  
  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text_head h4 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  
  .text_head p {
    color: #606060;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 0 0;
  }
  
  .tracker_btn {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  
  .progress_cta {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #0C8F00;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .progress_cta:hover {
    background-color: #0c5605;
  }
  
  /* Responsive Adjustments */
  
  /* Medium screens */
  @media screen and (max-width: 768px) {
    .tracker_text {
      width: 65%;
    }
  
    .tracker_btn {
      width: 30%;
    }
  
    .progress_cta {
      width: 130px;
      font-size: 12px;
    }
  
    .text_head h4 {
      font-size: 14px;
    }
  
    .text_head p {
      font-size: 11px;
    }
  }
  
  /* Small screens (mobile) */
  @media screen and (max-width: 480px) {
    /* .profile_tracker_body{
        padding: 0;
    } */
    .profile_tracker_wrapper {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      height: max-content;
    }
  
    .tracker_text {
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
    }
  
    .progress {
      width: 20%;
      height: 100%;
      padding: 0;
    }
  
    .text_head h4 {
        color: var(--Colors-Neutral-1000, #333);
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
    }
  
    .text_head p {
        color: var(--Colors-Neutral-800, #606060);
        font-family: "Poppins", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; 
    }
  
    .tracker_btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* justify-content: flex-start; */
    }
  
    .progress_cta {
      width: 50%;
      height: 36px;
      font-size: 12px;
    }
  }
  